$bg-color: #0E8784;
$hover-color: #66D2CF;
$active-color: #E2DEDB;
$navbar-hover-color: #333D4B;
$about-box-hover-color: #FDD6BA;
$about-box-active-color: #F4F1EB;
$content-border-color: #0E8784;
$content-line-color: #FDD6BA;
$footer-background-color:#2C343E;